@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-light {
  --bg-background-primary: white;
  --bg-background-secondary: #f7fafc;
  --bg-background-tertiary: #e2e8f0;

  --bg-background-form: white;

  --text-copy-primary: #2d3748;
  --text-copy-secondary: #4a5568;

  --border-border-color-primary: white;
}

.theme-light .search-highlighted {
  background: #f0fff4;
}

.theme-light .search-hover:hover {
  background: #f0fff4;
}

.theme-dark .markdown-body {
    color: #24292e;
}

.theme-dark .search-highlighted {
  background: #2d3748;
}

.theme-dark .search-hover:hover {
  background: #2d3748;
}

.theme-dark {
  --bg-background-primary: #323433;
  --bg-background-secondary: #444444;
  --bg-background-tertiary: #666666;

  --bg-background-form: #ffffff;

  --text-copy-primary: #ffffff;
  --text-copy-secondary: #02bb8d;
  --text-copy-tertiary: #8a8f8e;

  --border-border-color-primary:  #1a202c;
}

.theme-dark .markdown-body {
    color: #cbd5e0;
}

.content-wrapper {
  transition: background-color .25s;
}

.theme-dark a {
  color: white;
}

.theme-light a {
  color: black;
}
.theme-light .anchor-button a {
  color: white;
}

a {
  @apply font-bold;
}

a:hover {
  color: #8a8f8e;
}

nav .active {
  color: #02bb8d;
  font-weight: bold;
}

.container-inner {
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 640px) {
  .container-inner {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container-inner {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container-inner {
    max-width: 800px;
  }
}

@media (min-width: 1200px) {
  .container-inner {
    max-width: 1000px;
  }
}

@media (min-width: 1440px) {
  .container-inner {
    max-width: 1200px;
  }
}

.checkmark {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%2229%22%20height%3D%2229%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M4.427%2024.93A14.5%2014.5%200%201%201%2024.93%204.427c5.495%205.69%205.416%2014.733-.177%2020.326s-14.637%205.672-20.326.177z%22%20fill%3D%22%232E855A%22/%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M10.234%2012.803l3.67%203.253L20.766%2010%2023%2012l-9.096%208L8%2014.789l2.234-2z%22/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  @apply pl-10;
}

.iframe-container {
  overflow: hidden;
  /* 16:9 aspect ratio */
  padding-top: 56.25%;
  position: relative;
}

.iframe-container iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}

.verical-line {
  border-left: 3px solid;
  height: 25px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-gap: 1rem;
  max-width: 80rem;
  margin: 2rem auto;
  padding: 0 5rem;
}

.gallery-panel img {
  width: 100%;
  object-fit: inside;
  cursor: pointer;
}

.software-item img {
  width: 50px;
}

.cryptedmail:after {
  content: attr(data-name) "@" attr(data-domain) "." attr(data-tld); 
}