@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.theme-light {
  --bg-background-primary: #ffffff;
  --bg-background-secondary: #f7fafc;
  --bg-background-tertiary: #e2e8f0;

  --bg-background-form: #ffffff;

  --text-copy-primary: #2d3748;
  --text-copy-secondary: #4a5568;

  --border-border-color-primary: #ffffff;
}

.theme-light .search-highlighted {
  background: #f0fff4;
}

.theme-light .search-hover:hover {
  background: #f0fff4;
}

.theme-dark .markdown-body {
    color: #24292e;
}

.theme-dark .search-highlighted {
  background: #2d3748;
}

.theme-dark .search-hover:hover {
  background: #2d3748;
}

.theme-dark {
  --bg-background-primary: #323433;
  --bg-background-secondary: #444444;
  --bg-background-tertiary: #666666;

  --bg-background-form: #ffffff;

  --text-copy-primary: #ffffff;
  --text-copy-secondary: #02bb8d;
  --text-copy-tertiary: #8a8f8e;

  --border-border-color-primary:  #1a202c;
}

.theme-dark .markdown-body {
    color: #cbd5e0;
}

.content-wrapper {
  transition: background-color .25s;
}

.theme-dark a {
  color: #ffffff;
}

.theme-light a {
  color: #000000;
}
.theme-light .anchor-button a {
  color: #ffffff;
}

a {
  @apply font-bold;
}

a:hover {
  color: #8a8f8e;
}

nav .active {
  color: #02bb8d;
  font-weight: bold;
}

.container-inner {
  padding-left: 1rem;
  padding-right: 1rem;
}

.portfolio-image {
  width: 900px;
  height: 600px;
  object-fit: contain;
}
.personal-image {
  width: 400px;
  height: 400px;
  object-fit: contain;
}

@media (min-width: 640px) {
  .container-inner {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container-inner {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container-inner {
    max-width: 800px;
  }
}

@media (min-width: 1200px) {
  .container-inner {
    max-width: 1024px;
  }
}

@media (min-width: 1440px) {
  .container-inner {
    max-width: 1280px;
  }
}

.iframe-container {
  overflow: hidden;
  /* 16:9 aspect ratio */
  padding-top: 56.25%;
  position: relative;
}

.iframe-container iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}

.verical-line {
  border-left: 3px solid;
  height: 25px;
}

.cryptedmail:after {
  content: attr(data-name) "@" attr(data-domain) "." attr(data-tld); 
}
